h1{
    text-align: center;
    /* border: solid; */
    width: 75%;
    text-decoration: double underline;
    text-decoration-color: rgb(132, 26, 26);
    letter-spacing: 10px;
    font-family: copperplate;
}
h3{
    text-align: start;
    text-decoration: wavy underline;
}
p{
    text-align: left;
    font-weight: bolder;
    line-height: 2;
    font-size: 15px;
}
h2{
    font-family: impact;
    font-weight: normal; /*used for measuring boldness*/
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(92, 3, 79);
    letter-spacing: 5px;
}
a{
    text-decoration: none;
    /* this is used to remove underline color created by a tag */
}
