body{
    font-family: Montserrat;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: black;
    position: fixed;
    width: 25vw;
    height: 90vh;
    border-radius: 1rem;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: #121212;
    margin: 5px;
    border-radius: 1rem;
    padding: 0.5rem 0.7rem;
}

.nav-option{
    line-height: 2.5rem;
}

.nav-option i{
    font-size: 1.25rem;
    margin-left: 1rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

a{
    text-decoration: none;
    color: white;  
}

.nav-search{
    opacity: 0.7;
}

.nav-search:hover{
    opacity: 1;
}


.library{
    width: 100%;
    height: 84%;
    background-color: #121212;
    margin: 5px;
    border-radius: 1rem;
}

.options{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}


.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
    opacity: 0.7;
}

.lib-option img:hover{
    opacity: 1;
}

.icons{
    font-size: 1.2rem;
    display: flex;

}
.icons i{
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    height: 9rem;
    border-radius: 0.74rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 1.25rem;
    line-height: 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.85;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.24rem 1rem;
    font: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}


.main-content{
    background-color: #080808;
    position: fixed;
    right: 0px;
    left: 25.5vw;
    margin: 5px;
    width: 75vw;
    height: 90vh;
    overflow: auto;
    padding: 10px;
    /*flex: 1;*/ /*it means giving remaing place/space to this class */
    border-radius: 1rem;
}

.sticky-nav{
    position: sticky;
    top: 0px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    width: 97%;
    z-index: 10;
}

.sticky-nav-icons img{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-options button{
    margin-right: 1rem;
}

.dark-badge{
    background-color: black;
    color: white;
}

@media (max-width: 1000px) {
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.8rem;
    opacity: 0.75;
}

.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.5;
}


.music-player{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.mp1{
    width: 25%;
}

.mp2{
    width: 50%;
    padding-left: 1rem;

}

.mp3{
    width: 25%;
}

.mp1-image{
    height: 50px;
    display: flex;
    margin: 10px;
}


.mp2 img{
    height: 1rem;
    padding: 10px;
    opacity: 0.75;
    margin-left: 1.3rem;
}

.mp2 img:hover{
    opacity: 1;
}


.playback-bar{
    display: flex;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: beige;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}