<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is The Home Page</h1>
    <h3>Sum of 1 & 2: &nbsp; <%= 1 + 2 %></h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, totam?
      Placeat id optio labore, enim voluptate sapiente impedit doloribus harum
      iste eveniet unde sequi earum ratione odit illum, ad tempora qui pariatur
      distinctio ea libero fuga accusantium. Tempore explicabo perferendis
      suscipit earum neque maxime magnam dignissimos dolorum nisi quae
      laboriosam optio nam facere id aliquid cum corporis, iusto in dolores
      possimus dolor placeat quisquam error? Omnis rem aut cumque!
    </p>
    <button>click me!</button>
    <hr>
  </body>
</html>
